[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cytolk = "*"
synthizer = "*"
pygame = "*"

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
mypy = "*"

[requires]
python_version = "3.8"
