[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cytolk = "*"
synthizer = "==0.8.17"
pygame = "*"
python-singleton-metaclasses = "*"

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
sphinx = "*"
sphinx-autodoc-typehints = "*"
wheel = "*"
pytest = "*"
pytest-mock = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
