[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cytolk = "*"
synthizer = "*"
pygame = "==2.0.0-dev12"
python-singleton-metaclasses = "*"

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
sphinx = "*"
sphinx-autodoc-typehints = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
