-r requirements.txt
accessible_output2 @ git+https://github.com/accessibleapps/accessible_output2@327bdea5e0a079bc507e341c1cb4631206675a2d#egg=accessible_output2 ; sys_platform == "win32"
black==22.1.0
flake8==4.0.1
isort==5.10.1
mypy==0.941
pre-commit==2.17.0
sphinx==4.4.0
sphinx-autodoc-typehints==1.17.0
wheel
